{
  "blogTitle" : "Jonathan Channon Blog",
  "siteUrl": "http://blog.jonathanchannon.com",
  "posts": "Snow/_posts",
  "layouts": "Snow/_layouts",
  "output": "Website",
  "urlFormat": "yyyy/MM/dd/slug",
  "copyDirectories": [
    "Snow/images => images",
    "Snow/js => js",
    "Snow/css => css"
  ],
  "processFiles": [{
    "file": "Snow/index.cshtml",
    "loop": "Posts"
  },{
    "file": "Snow/category.cshtml",
    "loop": "Categories"
  },{
    "file": "Snow/categories.cshtml => categories"
  },{
    "file": "Snow/archive.cshtml => archive"
  },{
    "file": "Snow/about.cshtml => about"
  },{
    "file": "Snow/contact.cshtml => contact"
  },{
    "file": "feed.xml",
    "loop": "RSS"
  },{
    "file": "sitemap.xml",
    "loop": "sitemap"
  }]
}