{
  "blogTitle" : "Jonathan Channon Blog",
  "siteUrl": "http://blog.jonathanchannon.com",
  "posts": "_posts",
  "layouts": "_layouts",
  "output": "Website",
  "urlFormat": "yyyy/MM/dd/slug",
  "copyDirectories": [
    "js",
    "css",
    "images"
  ],
  "processFiles": [{
    "file": "index.cshtml",
    "loop": "Posts"
  },{
    "file": "category.cshtml",
    "loop": "Categories"
  },{
    "file": "categories.cshtml"
  },{
    "file": "archive.cshtml"
  },{
    "file": "about.cshtml"
  },{
    "file": "contact.cshtml"
  },{
    "file": "feed.xml",
    "loop": "RSS"
  }]
}