@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Sandra.Snow.PreCompiler.ViewModels.ContentViewModel>
@using System.Collections.Generic
@{
  Layout = "default.cshtml";
}

<div class="post-item boxed post-detail">
  <span class="post-label label-cat"></span>
  <div class="post-title">
      <h1>Categories</h1>
  </div>
  <div class="post-descr entry">
    <div id="tagcloud">
      @foreach (var category in Model.Categories) {
       <a href="/category/@category.Url"><span>@category.Name</span></a>
      }             
    </div>
  </div>
</div>