@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Sandra.Snow.PreCompiler.ViewModels.ContentViewModel>
@using System.Collections.Generic
@{
  Layout = "default.cshtml";
}

    <h1><a href="/category/">Other Posts in this Category</a></h1>
  
    @foreach(var catInPost in Model.CategoriesInPost){
      <div class="catboxed" style="position:relative; margin-bottom:20px;">
        <span class="cat-label"></span>
        <a href="@catInPost.Url" title="@catInPost.Title">@catInPost.Title</a> <small>(@catInPost.Date.ToString("MMMM dd, yyyy"))</small>
      </div>
    }
  
  
