@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<Snow.ViewModels.ContentViewModel>
@using System.Collections.Generic
@{
  Layout = "default.cshtml";
}
<div class="post-item boxed post-detail">
    <span class="post-label label-cat"></span>           
    <div class="post-title">
      <h1><a href="/contact">Contact Me</a></h1>
    </div>
   
    <div class="post-descr entry">
      <p>Feel free to contact me at <a href='mailto&#58;jo%6Ea&#37;74han&#46;c%68%61n&#110;o%&#54;E%40&#103;%6Da%69l&#37;&#50;E%63o%6D'>jonathan&#46;&#99;h&#97;n&#110;&#111;n&#64;gma&#105;l&#46;&#99;om</a></p>
      <p>You can also get hold of me on <a href="http://twitter.com/jchannon">Twitter</a></p>
      <p><strong>or go old school...</strong></p>
      <img class="aligncenter" src="/images/blogpostimages/carrierpigeon.png" />
    </div> 
   
</div>
